*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.min.css
.sass-cache/
files/gplay-keys.json
files/play.keystore
files/play.properties
files/test.keystore