:root, .__fb-light-mode {
  --accent: #{$accent} !important;
  --attachment-footer-background: #{$bg_opaque} !important;
  --background-deemphasized: #{$background} !important;
  --card-background: #{$bg_opaque} !important;
  --card-background-flat: #{$bg_opaque} !important;
  --comment-background: #{$bg_opaque2} !important;
  --comment-footer-background: #{$bg_opaque} !important;
  --darkreader-bg--fds-white: #{$bg_opaque} !important;
  --darkreader-text--primary-text: #{$text} !important;
  --darkreader-text--secondary-text: #{$text} !important;
  --disabled-button-background: #{$divider} !important;
  --disabled-button-text: #{$text_disabled} !important;
  --disabled-icon: #{$text_disabled} !important;
  --disabled-text: #{$text_disabled} !important;
  --divider: #{$divider} !important;
  --event-date: #{$accent} !important;
  --glimmer-spinner-icon: #{$accent} !important;
  --hero-banner-background: #{$bg_opaque2} !important;
  --highlight-bg: #{$bg_opaque2} !important;
  --media-outer-border: #{$divider} !important;
  --messenger-card-background: #{$bg_opaque} !important; // Main background; needs to be opaque to hide gradient used for sender card
  --messenger-reply-background: #{$bg_opaque2} !important;
  --nav-bar-background: #{$bg_opaque} !important;
  --new-notification-background: #{$background2} !important;
  --placeholder-icon: #{$text} !important;
  --popover-background: #{$bg_opaque2} !important;
  --primary-icon: #{$text} !important;
  --primary-text: #{$text} !important;
  --primary-button-text: #{$text} !important;
  --primary-deemphasized-button-background: #{$divider} !important;
  --primary-text-on-media: #{$text} !important;
  --scroll-thumb: #{$accent} !important;
  --secondary-icon: #{$text} !important;
  --secondary-text: #{$text} !important;
  --section-header-text: #{$text} !important;
  --nav-bar-background-gradient-wash: #{$bg_opaque} !important;
  --nav-bar-background-gradient: #{$bg_opaque} !important;
  --placeholder-text: #{$text} !important; // Date
  --surface-background: #{$bg_opaque2} !important; // Emoji background
  --toggle-active-background: #{$bg_opaque2} !important;
  --wash: #{$bg_opaque2} !important;
  --web-wash: #{$bg_opaque2} !important;

  [role="navigation"] {
    --surface-background: #{$bg_opaque} !important; // Nav background
  }
}
