$bg_transparent: rgba(#f0f, 0.02) !default;

//Keep above as first line so partials aren't compiled
//Our default colors are test colors; production files should always import the actual colors

$text: #d7b0d7 !default;
$link: #d59ed5 !default;
$accent: #3b5998 !default;
$background: #451515 !default;
$background2: rgba(lighten($background, 35%), 0.35) !default; //Also change ratio in material_light
$bg_opaque: rgba($background, 1.0) !default;
$bg_opaque2: rgba($background2, 1.0) !default;
$card: #496296 !default;
$tint: #ff4682 !default; // must be different from $background
$divider: rgba($text, 0.3) !default;
