$transparent: transparent !default;

//Keep above as first line so partials aren't compiled

//$text: #f0f;
//$background: #f00;
//$background2: rgba(#ff0, 0.1);

$text: #fff !default;
$background: #000 !default;
$background2: rgba(lighten($background, 10%), 0.1) !default;
