[style*=color], body, input, ._42rv, ._4qau, ._dwm .descArea, ._eu5,
._1tcc, ._3g9-, ._29z_, ._3xz7, ._ib-, ._3bg5 ._56dq, ._477i, ._2vxk,
.touched *, ._1_yj, ._1_yl, ._4pj9, ._2bdc, ._3qdh ._3qdn ._3qdk, ._3qdk ._48_q,
._z-z, ._z-v, ._1e8d, ._36nl, ._36nm, ._2_11, ._2_rf, ._2ip_, ._403p, .cq, ._usr,
._5xu2, ._3ml8, ._3mla, ._50vk, ._1m2u, ._31y7, ._4kcb, ._1lf6, ._1lf5,
._1lf4, ._1hiz, ._xod, ._5ag5, ._zmk, ._3t_h, ._5lm6, ._3clv, ._3zlc, ._36rd,
._43mh, .touch .btn, p, span, .fcg, button, ._52j9, ._52jb, ._52ja, ._5j35,
._rnk, ._24u0, ._1g06, ._14ye, .fcb, ._56cz._56c_, ._1gk_, ._55fj, ._45fu,
._18qg, ._1_ac, ._529p, ._4dwt ._1vh3, ._4a5f, ._23_t, ._2rzc, ._23_s, ._2rzd,
._5aga, ._5ag9, ._537a, .acy, ._5ro_, ._6-l ._2us7, ._4mp, ._2b08, ._36e0, ._4-dy,
._14v5 ._14v8, ._1440, ._1442, ._1448, ._4ks_, .mCount, ._27vc, ._24e1, ._2rbw, ._3iyw ._3mzw,
textarea, ._24pi, ._4en9, ._1kb, ._5p7j, ._2klz, ._5780, ._5781, ._5782,
._3u9u, ._3u9_, ._3u9s, ._1hcx, ._2066, ._1_-1, ._cv_, ._1nbx, ._2cuh,
._4ms9, ._4ms5, ._4ms6, ._31b4, ._31b5, ._5q_r, ._idb, ._38d-, ._3n8y, ._38dt, ._3oyg,
._27vp, ._4nwe, ._4nw9, ._27vi, .appCenterAppInfo, .appCenterPermissions,
._3c9l, ._3c9m, ._4jn_, ._32qt, ._3mom, ._3moo, ._-7o, ._d00, ._d01, ._559g,
._2new, .appCenterCategorySelectorButton, ._1ksq, ._1kt6, ._6ber, ._mxb, ._3oyd,
div.sharerSelector, .footer, ._4pv_, ._1dbp, ._3kad, ._20zc, ._2i5v, ._2i5w,
.mentions-input, .mentions-placeholder, .largeStatusBox .placeHolder, .fcw,
._5-7t, .fcl, ._4qas, .thread-title, .title, ._46pa, ._336p, ._1rrd, ._2om4,
._3m1m, ._2om2, ._5n_e, .appListExplanation, ._5yt8, ._8he, ._2luw, ._5rgs,
h1, h2, h3, h4, h5, h6 {
  color: #d7b0d7 !important;
}

strong > a, ._15ks ._2q8z._2q8z, ._1e3e {
  color: #3b5998 !important;
}

._42nf ._42ng {
  color: transparent !important;
}

a,
._5fpq {
  color: #d59ed5 !important;
}

#viewport {
  background: #451515 !important;
}

body, :root, #root, #header, [style*=background-color], ._1upc, input, ._2f9r, ._59e9, ._5pz4, ._5lp4,
._5lp5, .container, .subpage, ._5n_f, #static_templates, ._22_8, ._1t4h, ._uoq, ._3qdh, ._8ca, ._3h8i,
._6-l ._2us7, ._6-l ._6-p, ._333v, div.sharerSelector, ._529j, ._305j, ._1pph, ._3t_l, ._4pvz,
._1g05, .acy, ._51-g, ._533c, ._ib-, .sharerAttachmentEmpty, .sharerBottomWrapper, ._24e1, ._-j7,
._3bg5 ._56do, ._5hfh, ._52e-, .mQuestionsPollResultsBar, ._5hoc, ._5oxw, ._32_4, ._1hiz,
._38do, .bo, .cq, ._234-, ._a-5, ._2zh4, ._15ks, ._3oyc, ._36dc, ._3iyw ._3iyx, ._6bes, ._55wo, ._4-dy,
.tlBody, #timelineBody, .timelineX, .timeline, .feed, .tlPrelude, .tlFeedPlaceholder, ._4_d0,
.al, ._1gkq, ._5c5b, ._1qxg, ._5luf, ._2new, ._cld, ._3zvb, ._2nk0, .btnD, .btnI, ._2bdb, ._3ci9,
._11ub, ._5p7j, ._55wm, ._5rgs, ._5xuj, ._1sv1, ._45fu, ._18qg, ._1_ac, ._5w3g, ._3e18, ._6be7,
._5q_r, ._5yt8, ._idb, ._2ip_, ._f6s, ._2l5v, ._8i2, ._kr5, ._2q7u, ._2q7v, ._5xp2, div.fullwidthMore,
._577z, ._2u4w, ._3u9p, ._3u9t, ._cw4, ._5_y-, ._5_y_, ._5_z3, ._cwy, ._5_z0, ._voz, ._vos,
._5_z1, ._5_z2, ._2mtc, ._206a, ._1_-1, ._1ybg, .appCenterCategorySelectorButton, ._5_ee, ._3clk,
._5c9u, div._5y57::before, ._59f6._55so::before, .structuredPublisher, ._94v, ._vqv, ._5lp5,
._55wm, ._2om3, ._2ol-, ._1f9d, ._vee, ._31a-, ._3r8b, ._3r9d, ._5vq5, ._3tl8, ._65wz, ._4edl,
.acw, ._4_xl, ._1p70, ._1p70, ._1ih_, ._51v6, ._u2c, ._484w, ._3ils, ._rm7, ._32qk, ._d01,
._2y60, ._5fu3, ._2foa, ._2y5_, ._38o9, ._1kb, .mAppCenterFatLabel, ._3bmj, ._5zmb, ._2x2s, ._3kac, ._3kad,
._3f50, .mentions-placeholder, .mentions, .mentions-shadow, .mentions-measurer, .acg, ._59tu,
._4l9b, ._4gj3, .groupChromeView, ._i3g, ._3jcf, .error, ._1dbp, ._5zma, ._6beq, ._vi6,
._uww, textarea, ._15n_, ._skt, ._5f28, ._14_j, ._3bg5, ._53_-, ._52x1, ._35au, ._cwy,
._1rfn ._1rfk ._4vc-, ._1rfk, ._1rfk ._2v9s, ._301x {
  background: rgba(255, 0, 255, 0.02) !important;
}

._31nf, ._2v9s, ._d4i, article._55wo, ._10c_, ._2jl2, ._55wo, ._6150, ._50mi, ._4-dw, ._4_2z {
  background: #239645 !important;
}

.aclb {
  background: #ff4682 !important;
}

._cv_, ._2sq8 {
  background-color: rgba(255, 0, 255, 0.02) !important;
}

#page, ._8l7, ._-j8, ._-j9, ._6o5v {
  background: transparent !important;
}

.jewel, .flyout, ._52z5, ._13e_, ._5-lw, ._5c0e, .jx-result, ._336p, .mentions-suggest-item, ._2suk,
.mentions-suggest, ._1xoz, ._1xow {
  background: #451515 !important;
}

._403n, ._14v5 ._14v8, ._1-kc {
  background: #c74646 !important;
}

button:not([style*=image]):not(.privacyButtons), button::before, .touch ._56bt, ._56be::before, .btnS, .touch::before,
._590n, ._4g8h, ._2cpp, ._58a0.touched:after,
.timeline .timelinePublisher, .touched, .sharerAttachment,
.item a.primary.touched .primarywrap, ._38nq, ._537a,
._5xo2, ._5u5a::before, ._4u3j, ._15ks, ._5hua, ._59tt, ._41ft, .jx-tokenizer, ._55fj,
.excessItem, .acr, ._5-lx, ._3g9-, ._55ws, ._6dsj ._3gin, ._69aj,
._4e8n, ._5pxa._3uj9, ._5n_5, ._u2d, ._56bu::before, ._5h8f, ._d00, ._2066, ._2k51,
._10sb li.selected, ._2z4j, ._ib-, ._1bhl, ._5a5j,
._2b06, ._2tsf, ._3gka, .mCount, ._27vc, ._4pv-, ._6pk5,
._4qax, ._4756, ._w34, ._56bv::before, ._5769, ._34iv, ._z-w, ._t21, .mToken,
#addMembersTypeahead .mToken.mTokenWeakReference,
.acbk {
  background: rgba(199, 70, 70, 0.35) !important;
}

.mQuestionsPollResultsBar .shaded {
  background: #3b5998 !important;
}

._220g, ._1_y8:after, ._6pk6,
._2zh4::before, ._2ip_ ._2zh4::before, ._2ip_ ._15kk::before, ._2ip_ ._15kk + ._4u3j::before,
._58a0:before, ._43mh::before, ._43mh::after, ._1_-1::before, ._1kmv:after, ._1_ac:before {
  background: rgba(215, 176, 215, 0.3) !important;
}

button ._v89 ._54k8._1fl1 {
  background: #3b5998 !important;
}

._15kl::before, ._37fd .inlineComposerButton, ._1hb:before,
._5j35::after, ._2k4b, ._3to7, ._4nw8 {
  border-left: 1px solid rgba(215, 176, 215, 0.3) !important;
}

._4_d1 {
  border-right: 1px solid rgba(215, 176, 215, 0.3) !important;
}

._1mx0, ._1rbr, ._5yt8, ._idb, ._cld, ._1e8h, ._z-w, ._1ha, ._1n8h ._1oby, ._5f99, ._2t39,
._2pbp, ._5rou:first-child, ._egf:first-child, ._io2, ._3qdi ._48_m::after,
._15n_, ._3-2-, ._27ve, ._2s20, ._gui, ._2s21 > *::after, ._32qk, ._d00, ._d01, ._38o9,
._3u9t, ._55fj, .mEventProfileSection.useBorder td, ._3ils,
._52x1, ._3wjp, ._usq, ._2cul:before, ._13e_, .jewel .flyout, ._3bg5 ._52x6, ._56d8, .al {
  border-top: 1px solid rgba(215, 176, 215, 0.3) !important;
}

._15ny::after, ._z-w, ._8i2, ._2nk0, ._22_8, ._1t4h, ._37fd, ._1ha, ._3bg5 ._56do, ._8he,
._400s, ._5hoc, ._1bhn, ._5ag6, ._4pvz,
._301x, ._x08 ._x0a:after, ._36dc, ._6-l ._57jn, ._527k, ._g_k,
._577z:not(:last-child) ._ygd, ._3u9u, ._3mgz, ._52x6, ._2066, ._5luf, ._2bdc, ._3ci9,
.mAppCenterFatLabel, .appCenterCategorySelectorButton, ._1q6v, ._5q_r, ._5yt8, ._38do, ._38dt,
._ap1, ._52x1, ._59tu, ._usq, ._13e_, ._59f6._55so::before, ._4gj3, .error, ._35--, ._1wev,
.jx-result, ._1f9d, ._vef, ._55x2 > *, .al, ._44qk, ._5rgs, ._5xuj, ._1sv1, ._idb,
._5lp5, ._3-2-, ._3to6, ._ir5, ._4nw6, ._4nwh, ._27ve, div._51v6::before,
._3c9h::before, ._2s20, ._gui, ._5jku, ._2foa, ._2y60, ._5fu3, ._4en9, ._1kb:not(:last-child) ._1kc,
._5pz4, ._5lp4, ._5lp5, ._5h6z, ._5h6x, ._2om4, ._5fjw > div, ._5fjv > :first-child,
._5fjw > :first-child {
  border-bottom: 1px solid rgba(215, 176, 215, 0.3) !important;
}

.item a.primary.touched .primarywrap, ._4dwt ._5y33, ._1ih_, ._5_50, ._6beq, ._69aj,
._5fjv, ._3on6, ._2u4w, ._2om3, ._2ol-, ._5fjw, ._4z83, ._1gkq, ._4-dy {
  border-top: 1px solid rgba(215, 176, 215, 0.3) !important;
  border-bottom: 1px solid rgba(215, 176, 215, 0.3) !important;
}

._d4i, ._f6s, .mentions-suggest-item, .mentions-suggest, .sharerAttachment,
.mToken, #addMembersTypeahead .mToken.mTokenWeakReference, .mQuestionsPollResultsBar,
._15q7, ._2q7v, ._4dwt ._16ii, ._3qdi::after,
._2q7w, .acy, ._58ak, ._3t_l, ._4msa, ._3h8i, ._3clk, ._1kt6, ._1ksq,
._1_y5, ._lr0, ._5hgt, ._2cpp, ._50uu, ._50uw, ._31yd, ._1e3d, ._3xz7, ._1xoz,
._4kcb, ._2lut, .jewel .touchable-notification.touched, .touchable-notification .touchable.touched,
.home-notification .touchable.touched, ._6beo ._6ber,
._4e8n, ._uww, .mentions-placeholder, .mentions-shadow, .mentions-measurer,
._5whq, ._59tt, ._41ft::after, .jx-tokenizer, ._3uqf, ._4756, ._1rrd, ._5n_f {
  border: 1px solid rgba(215, 176, 215, 0.3) !important;
}

.mQuestionsPollResultsBar .shaded, ._1027._13sm {
  border: 1px solid #d7b0d7 !important;
}

._3gka {
  border: 1px dashed rgba(215, 176, 215, 0.3) !important;
}

._4o58::after, .acr, ._t21, ._2bdb,
.acw, .aclb, ._4qax, ._5h8f {
  border-color: rgba(215, 176, 215, 0.3) !important;
}

._15ks ._15kl::before {
  border-left: 1px solid transparent !important;
}

._56bf, .touch .btn {
  border-radius: 0 !important;
  border: 0 !important;
}

._2cis {
  border-left: 10px solid rgba(255, 0, 255, 0.02) !important;
  border-right: 10px solid rgba(255, 0, 255, 0.02) !important;
}

._2cir.selected, ._42rv, ._5zma, ._2x2s {
  border-bottom: 3px solid #d7b0d7 !important;
}

._1ss6 {
  border-left: 2px solid #d7b0d7 !important;
}

._484w.selected > ._6zf, ._5kqs::after, ._3lvo ._5xum._5xuk, ._x0b {
  border-bottom: 1px solid #d7b0d7 !important;
}

*, *::after, *::before {
  text-shadow: none !important;
  box-shadow: none !important;
}

[data-sigil=m_login_upsell],
[data-sigil="m-loading-indicator-animate m-loading-indicator-root"] {
  display: none !important;
}

::-webkit-input-placeholder {
  color: #d7b0d7 !important;
}

:-moz-placeholder {
  color: #d7b0d7 !important;
}

::-moz-placeholder {
  color: #d7b0d7 !important;
}

:-ms-input-placeholder {
  color: #d7b0d7 !important;
}

.excessItem {
  outline: rgba(215, 176, 215, 0.3) !important;
}

._3m1m {
  background: linear-gradient(transparent, #451515) !important;
}

@-webkit-keyframes highlightFade {
  0%, 50% {
    background: rgba(199, 70, 70, 0.35);
  }
  100% {
    background: rgba(255, 0, 255, 0.02);
  }
}
@-moz-keyframes highlightFade {
  0%, 50% {
    background: rgba(199, 70, 70, 0.35);
  }
  100% {
    background: rgba(255, 0, 255, 0.02);
  }
}
@keyframes highlightFade {
  0%, 50% {
    background: rgba(199, 70, 70, 0.35);
  }
  100% {
    background: rgba(255, 0, 255, 0.02);
  }
}
@-webkit-keyframes chatHighlightAnimation {
  0%, 100% {
    background: rgba(255, 0, 255, 0.02);
  }
  50% {
    background: rgba(199, 70, 70, 0.35);
  }
}
@-moz-keyframes chatHighlightAnimation {
  0%, 100% {
    background: rgba(255, 0, 255, 0.02);
  }
  50% {
    background: rgba(199, 70, 70, 0.35);
  }
}
@keyframes chatHighlightAnimation {
  0%, 100% {
    background: rgba(255, 0, 255, 0.02);
  }
  50% {
    background: rgba(199, 70, 70, 0.35);
  }
}
