@import "colors";
@import "base";
@import "core_text";
@import "core_bg";
@import "core_border";

//GLOBAL overrides; use with caution
*, *::after, *::before {
  text-shadow: none !important;
  box-shadow: none !important;
}

// .touch .btnS, button, ._94v, ._590n {
//   box-shadow: none !important;
// }

[data-sigil=m_login_upsell],
[data-sigil="m-loading-indicator-animate m-loading-indicator-root"] {
  display: none !important;
}

@include placeholder {
  color: $text !important;
}

.excessItem {
  outline: $divider !important;
}

._3m1m {
  background: linear-gradient(transparent, $bg_opaque) !important;
}

//new comment
@include keyframes(highlightFade) {
  0%, 50% {
    background: $background2;
  }

  100% {
    background: $bg_transparent;
  }
}

@include keyframes(chatHighlightAnimation) {
  0%, 100% {
    background: $bg_transparent;
  }

  50% {
    background: $background2;
  }
}
