$bg_transparent: unquote('$BT$');
$text: unquote('$T$');
$link: unquote('$TT$');
$bluePaint: unquote('$B$');
$background2: unquote('$BBT$');
$bg_opaque: unquote('$O$');
$divider: unquote('$D$');

@import "../core/main";
