$text: #000;
$link: #111;
$accent: #3b5998;
$background: #fafafa;
// this is actually the inverse of material light (bg should be gray, cards should be white),
// but it looks better than the alternative
$background2: #e5e5e5;
$bg_transparent: $background;

$card: #fff;
$tint: #ddd;

@import "../core/main";