$text: #fff;
$accent_text: #fff;
$link: #5d86dd;
$accent: #5d86dd;
$background: rgba(#000, 0.1);
$bg_transparent: transparent;
$card: rgba(#000, 0.25);
$tint: rgba(#fff, 0.15);

@import "../core/main";
