[data-sigil="m_login_upsell"] { display: none !important; }

body, #root, #header, .aclb, ._55wo, ._1upc, input { background: #000 !important; }

button::before, ._56be::before, .btnS, .touch::before { background: #111 !important; }

._56bf, .touch .btn { border-radius: 0 !important; border: 0 !important; }

.touch .btnS { box-shadow: none !important; }

input, ._43mh, .touch .btn, a, .fcg, button, ._52j9 { color: #fff !important; }

::-webkit-input-placeholder { color: #fff !important; }

:-moz-placeholder { color: #fff !important; }

::-moz-placeholder { color: #fff !important; }

:-ms-input-placeholder { color: #fff !important; }

._43mh::before, ._43mh::after { background: #fff !important; }

._1rrd { border: 1px solid #fff !important; color: #fff !important; }
