$bg_transparent: unquote('$BT$');
$text: unquote('$T$');
$link: unquote('$TT$');
$accent: unquote('$A$');
$accent_text: unquote('$AT$');
$background: unquote('$B$');
$background2: unquote('$BBT$');
$bg_opaque: unquote('$O$');
$bg_opaque2: unquote('$OO$');
$divider: unquote('$D$');
$card: unquote('$C$');
$tint: unquote('$TI$');

@import "../core/main";
