$text: #000;
$accent_text: #fff;
$link: #3b5998;
$accent: #3b5998;
$background: #fafafa;
// this is actually the inverse of material light (bg should be gray, cards should be white),
// but it looks better than the alternative
$background2: rgba(darken($background, 8%), 0.35);

$bg_transparent: $background;

$card: #fff;
$tint: #ddd;

@import "../core/main";