//border between like and comment
._15kl::before, ._37fd .inlineComposerButton, ._1hb:before,
._pfn ._pfo::before,
._5j35::after, ._2k4b, ._3to7, ._4nw8 {
  border-left: 1px solid $divider !important;
}

._4_d1, ._5cni, ._3jcq, ._1ho1 {
  border-right: 1px solid $divider !important;
}

//above see more
._1mx0, ._1rbr, ._5yt8, ._idb, ._cld, ._1e8h, ._z-w, ._1ha, ._1n8h ._1oby, ._5f99, ._2t39,
._2pbp, ._5rou:first-child, ._egf:first-child, ._io2, ._3qdi ._48_m::after, ._46dd::before,
._15n_, ._3-2-, ._27ve, ._2s20, ._gui, ._2s21 > *::after, ._32qk, ._d00, ._d01, ._38o9,
._3u9t, ._55fj, .mEventProfileSection.useBorder td, ._3ils, ._5as0, ._5as2, ._5-lw,
._2s1_:before, ._143z::before, ._143z::after, ._4d0x, ._5_gz, ._5_ev, ._63ur, ._6pi8,
._52x1, ._3wjp, ._usq, ._2cul:before, ._13e_, .jewel .flyout, ._3bg5 ._52x6, ._56d8, .al {
  border-top: 1px solid $divider !important;
}

._15ny::after, ._z-w, ._8i2, ._2nk0, ._22_8, ._1t4h, ._37fd, ._1ha, ._3bg5 ._56do, ._8he,
._400s, ._5hoc, ._1bhn, ._5ag6, ._4pvz, ._31y5, ._7gxb, ._-kp, ._6_q3::after, ._3al1, ._4d0w, ._4d0k,
._301x, ._x08 ._x0a:after, ._36dc, ._6-l ._57jn, ._527k, ._g_k, ._7i8v, ._7k1c, ._2_gy,
._577z:not(:last-child) ._ygd, ._3u9u, ._3mgz, ._52x6, ._2066, ._5luf, ._2bdc, ._3ci9,
.mAppCenterFatLabel, .appCenterCategorySelectorButton, ._1q6v, ._5q_r, ._5yt8, ._38do, ._38dt,
._ap1, ._52x1, ._59tu, ._usq, ._13e_, ._59f6._55so::before, ._4gj3, .error, ._35--, ._1wev,
.jx-result, ._1f9d, ._vef, ._55x2 > *, .al, ._44qk, ._5rgs, ._5xuj, ._1sv1, ._idb, ._5_g-,
._5lp5, ._3-2-, ._3to6, ._ir5, ._4nw6, ._4nwh, ._27ve, div._51v6::before, ._5hu6, ._2wn5, ._1ho1, ._1xk6,
._3c9h::before, ._2s20, ._gui, ._5jku, ._2foa, ._2y60, ._5fu3, ._4en9, ._1kb:not(:last-child) ._1kc,
._5pz4, ._5lp4, ._5lp5, ._5h6z, ._5h6x, ._2om4, ._5fjw > div, ._5fjv > :first-child,
._5fjw > :first-child {
  border-bottom: 1px solid $divider !important;
}

.item a.primary.touched .primarywrap, ._4dwt ._5y33, ._1ih_, ._5_50, ._6beq, ._69aj, ._3iyw ._37fb,
._5fjv, ._3on6, ._2u4w, ._2om3, ._2ol-, ._5fjw, ._4z83, ._1gkq, ._4-dy, ._bub {
  border-top: 1px solid $divider !important;
  border-bottom: 1px solid $divider !important;
}

//friend card border
._d4i, ._f6s, .mentions-suggest-item, .mentions-suggest, .sharerAttachment,
.mToken, #addMembersTypeahead .mToken.mTokenWeakReference, .mQuestionsPollResultsBar,
._15q7, ._2q7v, ._4dwt ._16ii, ._3qdi::after, ._6q-c,
._2q7w, .acy, ._58ak, ._3t_l, ._4msa, ._3h8i, ._3clk, ._1kt6, ._1ksq,
._1_y5, ._lr0, ._5hgt, ._2cpp, ._50uu, ._50uw, ._31yd, ._1e3d, ._3xz7, ._1xoz,
._4kcb, ._2lut, .jewel .touchable-notification.touched, .touchable-notification .touchable.touched,
.home-notification .touchable.touched, ._6beo ._6ber, ._7kxg,
._73ku ._73jw, ._6--d, ._26vk._56bt, ._3iyw ._2whz ._13-g, ._-jx,
._4e8n, ._uww, .mentions-placeholder, .mentions-shadow, .mentions-measurer, ._517h, ._59pe:focus, ._59pe:hover,
.uiBoxLightblue, .uiBoxWhite, ._558b ._54nc,
._5whq, ._59tt, ._41ft::after, .jx-tokenizer, ._3uqf, ._4756, ._1rrd, ._5n_f {
  border: 1px solid $divider !important;
}

.mQuestionsPollResultsBar .shaded, ._1027._13sm {
  border: 1px solid $text !important;
}

._3gka {
  border: 1px dashed $divider !important;
}

//link card bottom border
._4o58::after, .acr, ._t21, ._2bdb, ._4ks>li,
.acw, .aclb, ._4qax, ._5h8f {
  border-color: $divider !important;
}

// like, comment, share divider
._15ks ._15kl::before {
  border-left: 1px solid transparent !important;
}

._56bf, .touch .btn {
  border-radius: 0 !important;
  border: 0 !important;
}

//page side tab layout
._2cis {
  border-left: 10px solid $bg_transparent !important;
  border-right: 10px solid $bg_transparent !important;
}

._2cir.selected, ._42rv, ._5zma, ._2x2s {
  border-bottom: 3px solid $text !important;
}

._1ss6 {
  border-left: 2px solid $text !important;
}

._484w.selected > ._6zf, ._5kqs::after, ._3lvo ._5xum._5xuk, ._x0b {
  border-bottom: 1px solid $text !important;
}

._484w.selected ._6zf, ._7gxa, ._2wn2 {
  border-bottom: 2px solid $accent !important;
}

// Small face previews
.facepile .facepileItem.facepileItemOverLapped .facepileItemRound, .facepile .facepileItem.facepileItemOverLapped.facepileItemRound, .facepile .facepileItem.facepileItemOverLapped .facepileMoreDotsRound {
  border: 2px solid $bg_opaque2 !important;
}